# deps
node_modules/
.pnpm-store/

# next.js
apps/web/.next/
apps/web/out/

# expo
apps/mobile/.expo/
apps/mobile/dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
apps/mobile/.expo-shared/

# build output
build/
dist/

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches/
supabase/.temp/

# misc
.DS_Store
*.log
.turbo/
